<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Battle</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>
    <link rel="stylesheet" href="battle.css">
    
</head>
<body>
    <div id="app">
        <template v-if="!gameIsRunning">
            <input type="text" placeholder="player1" v-model="p1name">
            <input type="text" placeholder="player2" v-model="p2name">
            <button @click="startGame()">start new game</button>            
        </template>
        <template v-else>
            <div class="row">
                <div class="container">
                    <h1>{{ p1name }}</h1>
                    <div class="background">
                        <div class="healthbar" :style="{width: p1health + '%'}">{{ p1health }}</div>                   
                    </div>
                </div>
                <div class="container">
                    <h1>{{ p2name }}</h1>
                    <div class="background">
                        <div class="healthbar" :style="{width: p2health + '%'}">{{ p2health }}</div>                   
                    </div>
                </div>
            </div>

            <div class="controls" >
                <button @click="attack">attack</button>
                <button @click="specialAttack">specialattack</button>
                <button @click="heal">heal</button>
                <button @click="giveUp">give up</button>
            </div>
            <div class="log">
                <ul>

                </ul>
            </div>
        </template>
    </div>
<script src="battle.js"></script>
</body>
</html>